

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: rgb(101, 101, 228);
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
